<h2 class="searchTittle">Busca tu serie favorita</h2>
<form class="searchForm js-form">
  <input
    type="text"
    class="searchForm__input js-searchBox"
    placeholder="Ej: The leftovers"
  />
  <input
    type="button"
    value="Buscar"
    class="searchForm__button js-buttonSearch"
  />
</form>
<div class="userArea">
  <ul class="resultArea js-searchResult"></ul>

  <section class="favoriteArea js-favArea js-hidden">
    <h3 class="favoriteArea__subtitle js-favTitle">Mis favoritos</h3>
    <button class="resetButton js-reset">Reset</button>
    <ul class="js-searchFavs"></ul>
  </section>
</div>
