<h2 class="searchTittle">Buscador de series</h2>
<form class="searchForm">
  <input type="text" class="searchForm__input js-searchBox" />
  <input
    type="button"
    value="Buscar"
    class="searchForm__button js-buttonSearch"
  />
</form>
<div class="userArea">
  <section class="resultArea">
    <h3 class="resultArea__subtitle js-resultArea"></h3>
    <ul class="js-searchResult"></ul>
  </section>
  <section class="favoriteArea js-favArea">
    <h3 class="favoriteArea__subtitle js-favTitle"></h3>
  </section>
</div>
