<h2 class="searchTittle">Busca tu serie favorita</h2>
<form class="searchForm js-form">
  <input
    type="text"
    class="searchForm__input js-searchBox"
    placeholder="Ej: The leftovers"
    value="game"
  />
  <input
    type="button"
    value="Buscar"
    class="searchForm__button js-buttonSearch"
  />
</form>
<div class="userArea">
  <section class="resultArea">
    <h3 class="resultArea__subtitle js-resultArea"></h3>
    <ul class="js-searchResult"></ul>
  </section>
  <section class="favoriteArea js-favArea js-hidden">
    <h3 class="favoriteArea__subtitle js-favTitle"></h3>
    <ul class="js-searchFavs"></ul>
  </section>
</div>
