.searchTittle {
  padding: 10px;
}
.searchForm {
  &__input {
    padding: 10px;
    margin: 10px;
    border: 2px solid $pink;
    box-shadow: 5px 5px 5px $lighterpink;
  }
  &__button {
    color: $lighterpink;
    font-weight: bold;
    width: 150px;
    height: 40px;
    background-color: $noBlack;
    box-shadow: 2px 2px 2px $lighterpink;
    border-radius: 15px;
    text-transform: uppercase;
    border: none;
    margin: 20px 0 20px 10px;
    &:hover {
      background-color: $lighterpink;
      box-shadow: 2px 2px 2px $noBlack;
      color: $noBlack;
      transform: translateY(-2px);
    }
  }
}
.userArea {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.resultArea {
  width: 50%;
  &__subtitle {
    height: 50px;
    text-align: center;
  }
}
.favoriteArea {
  width: 50%;
  display: flex;
  flex-direction: column;
  &__subtitle {
    height: 50px;
    text-align: center;
  }
}
.js-results {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
}
.js-results-color {
  background-color: $lighterpink;
}
.js-series-name {
  color: $pink;
}
.js-favorite {
  background-color: $pink;
  .js-series-name {
    color: $lighterpink;
  }
}

.js-hidden {
  display: none;
}
